<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>{{title}} | </title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/styles/github.min.css">
</head>
<body>

<header>
  <h1>Faint-hearted Icecast</h1>
</header>

<div id="content">
{{content}}
</div>

<footer class="vcard">
  <p>© 2015 <span class="fn">Dmitry Kharitonov</span>, <a href="mailto:geakstr@me.com" class="email"><span class="nickname">geakstr</span>@me.com</a></p>
</footer>

<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
</body>
</html>